@page
@model PokedexWeb.Pages.Views.Pokemon.DetalleModel
@{

    <div class="col-10 mx-auto">
        @if (Model.Pokemon != null)
        {

            <h1 class="text-center mb-5">@Model.Pokemon.nombre</h1>

            <div class="row g-5">
                <div class="col-md-4 col-lg-3 order-md-last">
                    <img src="@Model.Pokemon.foto" height="306">
                </div>
                <div class="col-md-6 col-lg-7">
                    <h3 class="title2">Información</h3>
                    <table>
                        <tbody>
                            <tr class="border-bottom">
                                <th class="py-3 text-end">#</th>
                                <td class="px-3 py-3">@Model.Pokemon.id_pokemon</td>
                            </tr>
                            <tr class="border-bottom">
                                <th class="py-3 text-end">Tipo</th>
                                <td class="px-3 py-3">
                                    @foreach (var tipo in Model.Pokemon.PokemonTipos)
                                    {
                                        <span class="badge text-bg-success rounded-pill">@tipo.Tipo.nombre</span>
                                    }
                                </td>
                            </tr>
                            <tr class="border-bottom">
                                <th class="py-3 text-end">Habilidad</th>
                                <td class="px-3 py-3">
                                    @foreach (var habilidad in Model.Pokemon.PokemonHabilidades)
                                    {
                                        <span class="badge text-bg-success rounded-pill">@habilidad.Habilidad.nombre</span>
                                    }
                                </td>
                            </tr>
                            <tr class="border-bottom">
                                <th class="py-3 text-end">Weight</th>
                                <td class="px-3 py-3">@Model.Pokemon.peso kg</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        }
    </div>


}
