@page
@model PokedexWeb.Pages.Views.Pokemon.IndexModel
@{
    ViewData["Title"] = "Pokédex";
     var rol = HttpContext.Session.GetString("UserRol");
}

<h1 class="text-center my-3">Pokédex</h1>
<div class="mx-5">
    <div class="d-flex justify-content-end">
        @if (rol == "Admin")
                            {
        <button class="button-blue py-2 mb-3">
            <a href="/Views/Pokemon/Agregar" type="button" class="text-white text-decoration-none">Agregar Pokémon</a>
        </button>
                            }
    </div>
    <div class="row">
        <div class="md-auto">
            <div class="table-responsive ">
                <table class="table-style  align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Habilidad</th>
                            <th>Peso</th>
                            <th>Altura</th>
                            @if (rol == "Admin")
                            {
                                <th>Acciones</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pokemon in Model.Pokemones)
                        {
                            <tr>
                                <td>
                                    <img class="text-center" style="display:block; margin:auto;" src="@pokemon.foto" alt="@pokemon.nombre">
                                </td>
                                <td>@pokemon.id_pokemon</td>
                                <td><a href="/Views/Pokemon/Detalle?id=@pokemon.id_pokemon">@pokemon.nombre</a></td>
                                <td>
                                    @foreach (var tipo in pokemon.PokemonTipos)
                                    {
                                        <p>
                                            <span class="badge text-bg-success rounded-pill">@tipo.Tipo.nombre</span>
                                        </p>
                                    }
                                </td>
                                <td>
                                    @foreach (var habilidad in pokemon.PokemonHabilidades) {
                                        <p>@habilidad.Habilidad.nombre</p>
                                    }
                                </td>
                                <td>@pokemon.peso kg</td>
                                <td>@pokemon.altura m</td>
                                @if (rol == "Admin")
                            {
                                <td class="text-center">
                                    <button class="button icon">
                                        <a href="/Views/Pokemon/Editar?id=@pokemon.id_pokemon" type="button" class="text-white text-decoration-none" title="Modificar Pokemon"><i class="fa-solid fa-pen"></i></a>
                                    </button>
                                </td>
                            }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>