@page
@model PokedexWeb.Pages.Views.Enfermeria.IndexModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username");
    var id = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    ViewData["Title"] = "Enfermería";

}

<h1 class="text-center my-3">Enfermería</h1>
<div class="mx-5">
    <div class="row">
        <div class="mt-4 d-flex justify-content-between align-items-center w-100">
            <p class="title2">Mis Casos</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="md-auto">
            <div class="table-responsive">
                <table class="table-style align-middle">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Peso</th>
                            <th>Entrenador</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var paciente in Model.Pacientes)
                        {
                            @if (paciente.estado == "Asignado" && paciente.id_enfermero == Int32.Parse(id))
                            {
                                <tr>
                                    <td>@paciente.id_detalle_enfermeria</td>
                                    <td><a href="/Views/Pokemon/Detalle?id=@paciente.Pokemon.id_pokemon">@paciente.Pokemon.nombre</a></td>
                                    <td>@paciente.Pokemon.peso kg</td>
                                    <td>@paciente.Entrenador.nombre</td>

                                    <td class="text-center" width="20%">
                                        <form asp-page-handler="Liberar" method="post">
                                            <input type="hidden" name="id_detalle_enfermeria" value="@paciente.id_detalle_enfermeria" />
                                            <button class="button py-2 text-white">
                                                Dar de Alta
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="mt-4 d-flex justify-content-between align-items-center w-100">
            <p class="title2">Casos Pendientes</p>
        </div>
    </div>

    <div class="row ">
        <div class="md-auto">
            <div class="table-responsive">
                <table class="table-style">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Peso</th>
                            <th>Entrenador</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var paciente in Model.Pacientes)
                        {
                            @if (paciente.estado == "Sin Asignar")
                            {
                                <tr>
                                    <td>@paciente.id_detalle_enfermeria</td>
                                    <td><a href="/Views/Pokemon/Detalle?id=@paciente.Pokemon.id_pokemon">@paciente.Pokemon.nombre</a></td>
                                    <td>@paciente.Pokemon.peso kg</td>
                                    <td>@paciente.Entrenador.nombre</td>

                                    <td class="text-center" width="20%">
                                        <form asp-page-handler="Asignar" method="post">
                                            <input type="hidden" name="id_detalle_enfermeria" value="@paciente.id_detalle_enfermeria" />
                                            <button class="button py-2 text-white">
                                                Asignar
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

